@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background: url("../images/pokemons.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
}

.header {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: rgba(132,148,166,0.51);
    color: white;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: xx-small;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    object-position: bottom;
}

.li-nav {
    display: inline-block;
}

.button-nav {
    background-color: rgba(132,148,166,0.51);
    border-radius: 0.5em;
    margin: 1em;
    width: 10em;
    text-transform: uppercase;
    font-weight: bolder;
}

.button-nav:hover {
    background-color: rgb(32, 130, 250);
}

.logo {
    width: 60em;
    height: 20em;
}

.pokedex-container {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 60em;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 3em;
    min-height: 100%;
    min-width: 100%;
}