.link {
    text-decoration: none;
}

.card-style {
    background-color: rgba(132,148,166,0.51);
    box-shadow: 1em 1em 1em rgba(7,7,7,0.37);
    width: 20em;
    height: 10em;
    border-radius: 0.5em;
    display: grid;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    color: white;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
}

.card-style:hover {
    background-color: rgb(32, 130, 250);
}

.type-version {
    background-color: rgba(132,148,166,0.51);
    color: white;
    border-radius: 0.5em;
    padding: 2em;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    height: fit-content;
    width: 40em;
    justify-self: center;
    align-self: center;
    margin-left: 75em;
}